*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --mainColor : rgb(36, 53, 63);
    --secColor : rgb(23, 162, 184);
}
body{
    background-color: var(--mainColor);
}
a{
    text-decoration: none;
    color: var(--secColor);
    transition: 0.5s;
    &:hover{
        font-size: 20px;
    }
}
.mainTitle h2{
    color:var(--secColor);
}
.formHir{
    width: 50%;
    margin: 30px auto;
    padding: 60px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.6);
}

#LogEmail::placeholder , #LogPass::placeholder ,#LogPass::placeholder , #name::placeholder , #email::placeholder , #password::placeholder{
  color: white;
}

::placeholder {
  font-family: 'Courier New', monospace;
  font-size: 16px;
  color: white;
}
input.form-control , input.form-control:focus  {
  color: white; 
}
.logout{
    position: absolute;
    top: 30px;
    right :20%;
    color: white;
}
